[Unit]
Description=Bitcoin Core Daemon
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/bin/docker create \
              --rm \
              --name bitcoind \
              --publish 8333:8333/tcp \
              --mount type=bind,source=/mnt/Bitcoin,target=/bitcoind \
              --mount type=bind,source=/etc/localtime,target=/etc/localtime,readonly \
              --stop-timeout 60 \
              hetsh/bitcoind
ExecStart=/bin/docker start --attach bitcoind
ExecStop=/bin/docker stop bitcoind

[Install]
WantedBy=multi-user.target
